body {
    background-color: lightblue;
}
body li {
	color:orange;
	background-color: white;
	border-style:outset;
	width:50%;
}
li:hover {
	color:lime;
	background-color:gray;
	list-style-image:url(../tripod.png)
}
